<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aplas.tugas1_rajendra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tugas1_Rajendra">
        <activity
            android:name=".About"
            android:exported="true"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Tugas1_Rajendra.NoActionBar" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Berhasil"
            android:exported="true" />
        <activity
            android:name=".HalamanEmpat"
            android:exported="true" />
        <activity
            android:name=".HalamanTiga"
            android:exported="true" />
        <activity
            android:name=".HalamanDua"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>